<ion-header no-padding col-lg-6 pull-lg-3 push-lg-3 col-12 no-border>
  <custombar [title]="'TERMS & CONDITIONS'" [type]="isback" (clickback)="onclickBackbutton()"></custombar>
</ion-header>



<ion-content text-center>
  <ion-item col-lg-6 pull-lg-3 push-lg-3 col-12>
      <ion-label  text-center class="termstext" color="dark">
          {{content}}
        </ion-label>
  </ion-item>
 
</ion-content>

<ion-footer no-padding col-lg-6 pull-lg-3 push-lg-3 col-12>
  <div col-lg-12 col-12  class="bottom_part">
    <button (tap)="onclickdisagree()" style="float: left; margin-top: 10px;" ion-button clear color="error">Disagree</button>
    <button (tap)="onclickagree()" style="float: right; margin-top: 10px;" ion-button clear color="primary">Agree</button>
  </div>
</ion-footer>