page-termservice {
  .bottom_part{
    margin: 0 !important;
    padding: 0 !important;
    height: 50px;
    background-color: map-get($map: $colors, $key:toolbar);
    position: absolute;
    bottom: 0;
  }

  .termstext{
    padding: map-get($map: $custom_padding, $key: padding_10);
    font-size: map-get($map:$fontsizes , $key: font_13);
    height: 90vh;
    word-wrap: break-word;
    white-space: normal;
  }
}
