page-addmessage {
  .mycontent {
    ion-textarea {
        width: 100%;
        height: map-get($map: $constant_height, $key:height_30vh);
        border-radius: map-get($map:$borderradius, $key:radius_10);
        background: map-get($map: $colors, $key:textareacolor);
        padding-top: map-get($map: $custom_padding, $key:paddin_10);
        padding-left: map-get($map: $custom_padding, $key:paddin_10);
    }

    textarea.text-input {
      position: absolute;
      display: block;
      height: map-get($map: $constant_height, $key:height_40vh);
      color : map-get($map: $colors, $key:dark);
    }

    button{
      color:white;
      width: 60vw;
      margin-top: map-get($map: $custom_margin, $key:margin_10vh);
      border-radius: map-get($map: $borderradius, $key:radius_10);
    }

    ion-item{
      margin-top: map-get($map: $custom_margin, $key:margin_10);
      border-radius: map-get($map: $borderradius, $key:radius_10);
    }

    ion-item:nth-of-type(2) {
      margin-top: map-get($map: $custom_margin, $key:margin_10);
    }

    .checkbox-ios-light .checkbox-checked .checkbox-inner{
      border-color: map-get($map: $colors, $key: toolbar);
    }
    .checkbox-md-light .checkbox-checked .checkbox-inner{
      border-color: map-get($map: $colors, $key: toolbar);
    }
}
}
