<ion-header>
    <custombar *ngIf="edit_type != 'edit'" [rightType]="isback" [title]="'CHANGE THE WORLD'" (clickback)="onclickclose()"></custombar>
    <custombar *ngIf="edit_type == 'edit'"  [rightType]="isback" [title]="'EDIT MESSAGE'" (clickback)="onclickclose()"></custombar>
</ion-header>

<ion-content text-center padding class="mycontent">
    <ion-textarea *ngIf="isShow" [disabled]="true"  [(ngModel)]="message" placeholder="Start typing here... go for it">

    </ion-textarea>

    <ion-textarea *ngIf="!isShow"   [(ngModel)]="message" placeholder="Start typing here... go for it">

    </ion-textarea>

    <ion-item no-lines color="toolbar" (click)="onclickpseronalcheckbox(this)">
      <ion-label style="padding-left : 10px;"  color="light">PERSONAL</ion-label>
      <ion-checkbox  color="light" mode="ios" [checked]="!isPersonal" (click)="onclickpseronalcheckbox(this)" ></ion-checkbox>
    </ion-item>


    <ion-item no-lines color="forgotcolor"  (click)="onclickpubliccheckbox(this)">
        <ion-label style="padding-left : 10px;" color="light">PUBLIC</ion-label>
        <ion-checkbox color="light" mode="ios" [checked]="isPersonal"  (click)="onclickpubliccheckbox(this)" ></ion-checkbox>
    </ion-item>

    <button col-8  *ngIf="!isShow"  (click)="onclicksavebutton()" color="toolbar"  ion-button>SAVE</button>
</ion-content>
