page-favorite {
  .mycontent{
  }
}


ion-modal.custom-share ion-backdrop {
  visibility: visible !important;
  z-index:0;
}

@media(min-width:1000px)
{
  ion-modal.custom-popup .modal-wrapper{
    top: 30vh;
    left : 35vw;
    right : 35vw;
    height:300px;
    border-radius: 10px;
    position:absolute;
  }
}


  ion-modal.custom-share .modal-wrapper{
    top: 10vh;
    bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    width:80vw;
    height:70vh; 
    border-radius: 10px !important;
    position:absolute;
  }

  .modal-wrapper
  {
    border-radius: 10px !important;
  }





ion-modal.inset-modal {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity 0.25s ease-in-out;
}

ion-modal.inset-modal-match {
  background-color: rgba(0, 0, 0, 0.5) !important;
  transition: opacity 0.25s ease-in-out;
}
