
<ion-header  col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>
    <custombar [title]="'FAVORITE'"></custombar>
</ion-header>


<ion-content class="mycontent" padding>
  <favoriteitem   *ngFor="let favorite of favoriteArray; let i = index;" [category]="favorite" [index]="i" (clickEdit)="onclickEditOptions($event);" (clickItem)="onclickItem($event)"  ></favoriteitem>
</ion-content>
