<ion-header col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>
    <mainbar  col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding [title]="'NUDGE'" (clickedit)="onclickEdit($event)"></mainbar>
</ion-header>

<ion-content   class="has-header mycontent" padding>

  <ion-list>
    <ion-list-header col-lg-6 pull-lg-3 push-lg-3  col-12  no-lines>
      <ion-label style="font-weight:bold; font-size:13pt;" color="dark">
        CATEGORIES
      </ion-label>
    </ion-list-header>
    <mainitem
      *ngFor="let category of category_array; let i = index"
      [index]="i"
      [category]="category"
      [isEdit]="isEditable"
      (clickItem)="onclickItem($event)"
      (clickEdit)="onClickEditOperation($event)"
      (longpressItem)="onclicklongpress($event)">
    </mainitem>
  </ion-list>

  <ion-fab (click)="onclickFabButton()" *ngIf="!isEditable" bottom right>
    <button color="toolbar" ion-fab>
      <ion-icon color="light" style="font-size:15pt;" name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
