page-main {
//   .fab[mini] {
//     border: 2px soild map-get($map: $colors, $key: toolbar);
//     margin: 8px;
//     width: 40px;
//     height: 40px;
//     line-height: 40px;
// }

ion-modal.custom-popup ion-backdrop {
  visibility: visible !important;
  z-index:0;
}

ion-modal.custom-share ion-backdrop {
  visibility: visible !important;
  z-index:0;
}

@media(min-width:1000px)
{
  ion-modal.custom-popup .modal-wrapper{
    top: 30vh;
    left : 35vw;
    right : 35vw;
    height:60vh;
    border-radius: 10px;
    position:absolute;
  }
}

  ion-modal.custom-popup .modal-wrapper{
    top: 20vh;
    left : 10%;
    right : 10%;
    height:60vh;
    border-radius: 10px;
    position:absolute;
  }


@media(min-width:1000px)
{
  ion-modal.custom-share .modal-wrapper{
    top: 30vh;
    left : 35vw;
    right : 35vw;
    height:70vh;
    border-radius: 10px;
    position:absolute;
  }
}

@media(max-width:600px)
{
  ion-modal.custom-share .modal-wrapper{
    top: 30vh;
    left : 10%;
    right : 10%;
    height:70vh;
    border-radius: 10px;
    position:absolute;
  }
}




.my-input.ng-invalid{
  border-bottom-color: transparent;
}
.my-input.ng-valid{
  border-bottom-color: transparent;
}
}
