<!-- <ion-header> -->
    <ion-toolbar color="toolbar" text-center>
      <ion-buttons left>
        <button  ion-button icon-only>
          <ion-icon
            color="light"
            ios="ios-refresh-circle"
            md="md-refresh-circle"
          ></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons right>
        <button (click)="onclickdismissbutton()" ion-button icon-only>
          <ion-icon
            color="dismisscolor"
            ios="ios-close-circle"
            md="md-close-circle"
          ></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  <!-- </ion-header> -->

  <ion-content text-center class="customcontent">

      <ion-slides  #mySlider (ionDidChange)="onSlideChange();$event.stopPropagation();">
        <ion-slide  *ngFor="let item of message_data" >
            <ion-label color="light" text-center>
                {{item.message}}
              </ion-label>
        </ion-slide>
      </ion-slides>

    <ion-row>
      <ion-col><img src="assets/imgs/smile.png" style="width: 30px; height:30px;" (click)="onclicklike()" ></ion-col>
      <ion-col><img src="assets/imgs/non.png" style="width: 30px; height:30px;" (click)="onclicklike()" ></ion-col>
      <ion-col><img src="assets/imgs/angry.png" style="width: 30px; height:30px;" (click)="onclicklike()"></ion-col>
    </ion-row>

    <button
      class="mybutton"
      full
      (click)="presentActionSheet();$event.stopPropagation();"
      color="toolbar"
      ion-button
    >
      Share&nbsp; <ion-icon ios="ios-share" md="md-share"></ion-icon>
    </button>
  </ion-content>


