page-newmessage {
  .customcontent {
      background: url('../assets/imgs/favorite_back.png');
      background-repeat: no-repeat;
      background-size: cover;
      ion-slides{
        height: 80%;
      }
      ion-slide {
          background: transparent;
          margin: 0;
          height: 100%;
          img {
              // margin-top: map-get($map: $custom_margin, $key:margin_10);
              width: 100%;
              height: 80%;
          }
      }

      ion-item:first-of-type{
        margin-top: $margin-top20vh;
      }

      ion-label {
          padding-left: map-get($map: $custom_padding, $key: padding_10);
          padding-right: map-get($map: $custom_padding, $key: padding_10); // padding-top: map-get($map: $custom_margin, $key:margin_10);
          font-weight: bold;
          white-space: normal;
          color: map-get($map: $colors, $key:dark);
          font-size: map-get($fontsizes, font_20);
          color: white;
      }
      .mybutton {
          background: white;
          position: absolute;
          border-top: 1px solid map-get($map: $colors, $key: toolbar);
          color: map-get($map: $colors, $key: toolbar);
          font-size: map-get($fontsizes, font_14);
          font-weight: bold;
          width: 100%;
          bottom: 0;
          height: 7vh;
          margin: 0 !important;
      }
  }
}

