<ion-header col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>
  <custombar [title]="'FORGOT PASSWORD?'" [type]="isback"  (clickback)="onclickBackbutton()" ></custombar>
</ion-header>

<ion-content text-center class="mycontent" padding>
  <ion-item col-lg-6 pull-lg-3 push-lg-3 col-12   no-lines  style="margin-top: 10vh;">
    <ion-label>
      <ion-icon color="maingraycolor" name="md-mail"></ion-icon>
    </ion-label>
    <ion-input [(ngModel)]="email" color="maingraycolor" type=""  placeholder="Enter your email"></ion-input>
  </ion-item>

  <ion-item col-lg-6 pull-lg-3 push-lg-3 col-12  no-lines style="margin-top:30px; background: transparent;">
    <ion-label  color="maingraycolor">Registered email</ion-label>
    <ion-checkbox *ngIf="!isregisteredmail"  mode="ios" color="maingraycolor" [checked]="isback"></ion-checkbox>
    <ion-checkbox *ngIf="isregisteredmail"  mode="ios" color="primary" [checked]="isback"></ion-checkbox>
  </ion-item>


  <button (click)="checkRegisteredEmail()" col-8 col-lg-6  ion-button color="toolbar" style="margin-top: 10vh; color:white; border-radius: 10px;">Submit</button>

</ion-content>
