page-forgotpass {
  .mycontent{
    ion-item:first-of-type{    
      border-radius: 10px;
      border-width: $custom_borderwidth;
      border-style: solid;
      border-color: $custom_bordercolor ;
    }
  }
}
