<ion-header  no-padding col-lg-6 pull-lg-3 push-lg-3 col-12 no-border>
  <custombar
    *ngIf="!isDone"
    [title]="'USER DETAILS'"
    [type]="isback"
    (clickback)="onclickBackbutton()"
    [subtitle]="'Sign Up-Step 3'"
  ></custombar>

  <custombar
    *ngIf="isDone"
    [title]="'YOUR PROFILE'"
    [type]="isback"
    (clickback)="onclickBackbutton()"
    [subtitle]=""
  ></custombar>

</ion-header>

<ion-content class="mycontent" padding>
  <div class="pro-pic-change">
    <div class="image">
      <img *ngIf="isProfileimage" src="{{image_url}}{{userinfo.photo}}" />
      <img *ngIf="!isProfileimage" src="{{base64Image}}" />
      <img *ngIf="base64Image == '' || !isProfileimage " src="assets/imgs/profile.png" />

    </div>
    <button
      ion-button
      round
      outline
      color="toolbar"
      (tap)="presentActionSheet()"
    >
      <ion-icon name="md-camera"></ion-icon>
    </button>
  </div>


    <ion-item col-lg-4 push-lg-4 pull-lg-4   col-12  no-lines>
      <ion-input
      *ngIf="!isDone"
        clearInput
        [(ngModel)]="username.firstname"
        type="text"
        placeholder="First Name"
      ></ion-input>

      <ion-input
      *ngIf="isDone"
        clearInput
        [(ngModel)]="userinfo.firstname"
        type="text"
        placeholder="First Name"
      ></ion-input>

    </ion-item>

    <ion-item  col-lg-4 push-lg-4 pull-lg-4   col-12  no-lines>
      <ion-input
      *ngIf="!isDone"
        [(ngModel)]="username.lastname"
        clearInput
        type="text"
        placeholder="Last Name"></ion-input>

        <ion-input
        *ngIf="isDone"
        [(ngModel)]="userinfo.lastname"
        clearInput
        type="text"
        placeholder="Last Name"></ion-input>
    </ion-item>


    <ion-item  col-lg-4 push-lg-4 pull-lg-4   col-12  no-lines>
      <ion-input
      *ngIf="!isDone"
        [(ngModel)]="age"
        clearInput
        type="text"
        placeholder="Age "></ion-input>

        <ion-input
        *ngIf="isDone"
        [(ngModel)]="userinfo.age"
        clearInput
        type="text"
        placeholder="Last Name"></ion-input>
    </ion-item>

    <ion-item col-lg-4 push-lg-4 pull-lg-4   col-12  no-lines>
      <ion-label>Gender</ion-label>
      <ion-select  *ngIf="isDone" placeholder="" [(ngModel)]="userinfo.gender" multiple="false" >
        <ion-option value="male" >Male</ion-option>
        <ion-option value="female" >Female</ion-option>
      </ion-select>

      <ion-select  *ngIf="!isDone" placeholder="" [(ngModel)]="gender" multiple="false" >
        <ion-option value="male" >Male</ion-option>
        <ion-option value="female" >Female</ion-option>
      </ion-select>
    </ion-item>

   <ion-item col-lg-4 push-lg-4 pull-lg-4   col-12  no-lines>
     <ion-label>Timezone</ion-label>
     <ion-input
     *ngIf="!isDone"
       [(ngModel)]="timezone"
       clearInput
       type="text"
       placeholder="UTC +1"></ion-input>

       <ion-input
       *ngIf="isDone"
         [(ngModel)]="userinfo.timezone"
         clearInput
         type="text"
         placeholder="UTC +1"></ion-input>
   </ion-item>

    <button  col-lg-4 push-lg-4 pull-lg-4  col-10 pull-1 push-1  *ngIf="!isDone"  (click)="onclickdonebutton()" ion-button full color="toolbar"  style=" height:40px; color : white ;margin-top: 10vh; border-radius: 10px;">CREATE SOMETHING BIG</button>
    <button  col-lg-4 push-lg-4 pull-lg-4  col-10 pull-1 push-1  *ngIf="isDone"  (click)="onclickupdatebutton()" ion-button full color="toolbar"  style=" height:40px; color : white ;margin-top: 10vh; border-radius: 10px;">SAVE</button>

</ion-content>
