page-signupprofile {
  .mycontent{
    .pro-pic-change {

      height: map_get($constant_height, propic);
      width: map_get($constant_height, propic);
      position: relative;
      border-radius: 50px;
      margin: map_get($custom_margin, margin_10vh) auto map_get($custom_margin, margin_10vh) auto;
      .button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 13px;
        height: map_get($constant_height, height_30);
        width: map_get($constant_height, height_30);
        z-index: 2;
        background-color: white;
        padding: 0;
      }

      .image {
        z-index: 1;
        position: relative;
        height: map_get($constant_height, propic);
        width: map_get($constant_height, propic);
        border-radius: 50px;
        overflow: hidden;
        border: 1px solid rgba(51, 51, 51, 0.39);
        img {
          width: 100%;
          height: 100%;
          background-size: cover;
          max-width: 100%;
        }
      }

    }

    .validator-error{
      color : map-get($map: $colors, $key: error);
    }

    ion-item{
      border-radius: 10px;
      margin-top: map-get($map: $custom_margin, $key: margin_10);

    }
  }
}

ion-modal.custom-popup ion-backdrop {
  visibility: visible !important;
  z-index:0;
}

@media(min-width:1000px)
{
  ion-modal.custom-popup .modal-wrapper{
    top: 30vh;
    left : 35vw;
    right : 35vw;
    height:300px;
    border-radius: 10px;
    position:absolute;
  }
}

@media(max-width:600px)
{
  ion-modal.custom-popup .modal-wrapper{
    top: 30vh;
    left : 10%;
    right : 10%;
    height:300px;
    border-radius: 10px;
    position:absolute;
  }
}




.my-input.ng-invalid{
  border-bottom-color: transparent;
}
.my-input.ng-valid{
  border-bottom-color: transparent;
}

// ion-modal,
//   .show-page {
//     // transparent black background overlay
//     background-color: rgba(0, 0, 0, 0.5) !important;
//     padding: 50px !important;
//   }
//   .toolbar-background {
//     color: red !important;
//   }
//   ion-modal.modal-wrapper {
//     width: 60vw;
//     height: 300px;
//     transform: translateY(30%) !important;
//   }
//   ion-page.modal {
//     padding: 30px;
//     background: rgba(0, 0, 0, 0.5);
//   }
//   .modal-backdrop-bg {
//     background-color: #000;
//     opacity: 0;
//   }
//   .active .modal-backdrop-bg {
//     opacity: 0.5;
//   }


// ion-item.item.item-block.item-ios,
// ion-item.item.item-block.item-md {
//   display: flex;
//   align-items: flex-end; // <---- This does the trick!
// }


