page-addcategory {
    .mycontent {
        ion-textarea {
            width: 100%;
            height: map-get($map: $constant_height, $key:height_40vh);
            border-radius: map-get($map:$borderradius, $key:radius_10);
            background: map-get($map: $colors, $key:textareacolor);
            padding-top: map-get($map: $custom_padding, $key:paddin_10);
            padding-left: map-get($map: $custom_padding, $key:paddin_10);
        }

        textarea.text-input {
          position: absolute;
          display: block;
          height: map-get($map: $constant_height, $key:height_40vh);
        }

        button{
          color:white;
          margin-top: map-get($map: $custom_margin, $key:margin_30);
          border-radius: map-get($map: $borderradius, $key:radius_10);
        }
    }
}
