
<ion-header>
    <custombar *ngIf="edit_type == 'edit'"  [rightType]="isback" [title]="'EDIT A CATEGORY'" (clickback)="onclickclose()"></custombar>
    <custombar *ngIf="edit_type != 'edit'"  [rightType]="isback" [title]="'ADD A CATEGORY'" (clickback)="onclickclose()"></custombar>
</ion-header>

<ion-content text-center padding class="mycontent">
    <ion-textarea [(ngModel)]="category_name" placeholder="Enter Category">

    </ion-textarea>

    <button col-8  (click)="onclickdismiss()" color="toolbar"  ion-button>SAVE</button>
</ion-content>
