
    <ion-toolbar color="toolbar" text-center>
        <ion-buttons left>
          <button (click)="onclickRefreshbutton()" ion-button icon-only>
              <ion-icon color="light" ios="ios-refresh-circle" md="md-refresh-circle"></ion-icon>
          </button>
        </ion-buttons>

        <ion-buttons right>
            <button (click)="onclickdismissbutton()" ion-button icon-only>
                <ion-icon color="light" ios="ios-close-circle" md="md-close-circle"></ion-icon>
            </button>
          </ion-buttons>

      </ion-toolbar>


<ion-content style="margin-top : 40px;" text-center >
      <ion-label text-center>
        That's nice name, but i'm gonna call you  &nbsp; '{{randomName}}'
      </ion-label>

      <button class="mybutton one" full clear  (click)="onclickRefreshbutton()" color="toolbar" ion-button>
        Change Random Name
      </button>

      <button class="mybutton two" full clear  (click)="onclickdismissbutton()" color="toolbar" ion-button>
        Let's Go! &nbsp; >
      </button>

</ion-content>
