<ion-header no-padding col-lg-6 pull-lg-3 push-lg-3 col-12 no-border>
  <custombar [title]="'YOUR PASSWORD!'" [subtitle]="'Sign Up - Step 2'" [type]="isback" (clickback)="onclickBackbutton()"></custombar>
</ion-header>

<ion-content class="mycontent" style="background-repeat: no-repeat; background-size: cover;" padding>
  <form (submit)="submitform()" [formGroup]="passwordform">


    <ion-item  col-lg-4 push-lg-4 pull-lg-4   col-12  class="myinput" clear no-lines>
      <ion-label> <ion-icon name="md-lock"></ion-icon></ion-label>
      <ion-input
        placeholder="Enter your password"
        clearInput
        type="password"
        [(ngModel)]="userdata.password"
        [formGroup]="passwordform"
        formControlName="password"></ion-input>
    </ion-item>

    <!-- [class.error1]="!passwordform.controls.password.valid" -->
    <ion-item col-lg-4 push-lg-4 pull-lg-4   col-12  class="mycheckbox" clear no-lines>
      <ion-label>At least 6 characters long</ion-label>
      <ion-checkbox color="danger" *ngIf="passwordform.get('password').hasError('minlength') || passwordform.get('password').hasError('required')" mode="ios" [checked]="isChecked" ></ion-checkbox>
      <ion-checkbox color="primary" *ngIf="!passwordform.get('password').hasError('minlength') && !passwordform.get('password').hasError('required')" mode="ios" [checked]="isChecked" ></ion-checkbox>
    </ion-item>

    <ion-item col-lg-4 push-lg-4 pull-lg-4   col-12  class="mycheckbox" clear no-lines>
      <ion-label>Contains a letter and number</ion-label>
      <ion-checkbox color="danger" *ngIf="passwordform.get('password').hasError('pattern') || passwordform.get('password').hasError('required')" mode="ios" [checked]="isChecked" ></ion-checkbox>
      <ion-checkbox color="primary" *ngIf="!passwordform.get('password').hasError('pattern') && !passwordform.get('password').hasError('required')" mode="ios" [checked]="isChecked" ></ion-checkbox>
    </ion-item>
<!--
    <ion-item class="mycheckbox" clear no-lines>
        <ion-label>Contains a number</ion-label>
        <ion-checkbox color="danger" *ngIf="passwordform.get('password').hasError('pattern') || passwordform.get('password').hasError('required')" mode="ios" [checked]="isChecked" ></ion-checkbox>
        <ion-checkbox color="primary" *ngIf="!passwordform.get('password').hasError('pattern') && !passwordform.get('password').hasError('required')" mode="ios" [checked]="isChecked" ></ion-checkbox>
      </ion-item> -->

    <ion-item  col-lg-4 push-lg-4 pull-lg-4   col-12  class="myinput" clear no-lines>
      <ion-label color="dark"><ion-icon name="md-lock"></ion-icon></ion-label>
      <ion-input (ionChange)="onchangevalue()"  clearInput type="password" placeholder="Re-enter password"  [formGroup]="passwordform"   formControlName="confirmpassword" [(ngModel)]="userdata.confirmpassword"></ion-input>
    </ion-item>

    <ion-item  col-lg-4 push-lg-4 pull-lg-4   col-12 class="mycheckbox" clear no-lines>
      <ion-label>Matches new password</ion-label>
      <ion-checkbox  *ngIf="!matchedPasswords"  color="forgotcolor"  mode="ios" [checked]="isChecked"></ion-checkbox>
      <ion-checkbox  *ngIf="matchedPasswords"  color="primary"  mode="ios" [checked]="isChecked"></ion-checkbox>
    </ion-item>

    <button col-lg-4 push-lg-4 pull-lg-4  col-10 pull-1 push-1 ion-button full color="toolbar" [disabled]="!passwordform.valid" style="color : white ;margin-top: 20px; border-radius: 10px;" type="submit">BEGIN</button>
    <!-- <button ion-button full color="toolbar" style="height:50px;color : white ;margin-top: 50px; border-radius: 10px;" type="submit">BEGIN</button> -->
  </form>
</ion-content>
