page-signup-second {
  .mycontent {
    background: url('../assets/imgs/background.png');

    .myinput{
      // background: transparent;
      border-radius: 10px;
      border-width: $custom_borderwidth;
      margin-top: $margin-top10vh;
      border-style: solid;
      border-color: $custom_bordercolor ;
    }

    .mycheckbox{
      background: transparent;
      padding-left: map-get($map: $custom_padding, $key: padding_10);
      margin-top: map-get($map: $custom_margin, $key: margin_30);
      ion-label{
        padding-left: $margin_left10;
        font-style: italic;
        color:map-get($map: $colors, $key: dark);
      }
    }

    .mycheckbox+ .mycheckbox{
      margin-top: 0;
    }

    .mycheckbox+ .myinput{
      margin-top: map-get($map: $custom_margin, $key: margin_30);
    }

    .error1 {
      color: rgb(75, 75, 75);
      border-bottom: 1px solid #ff0000;
    }
  }
}
