<ion-item  col-lg-6 pull-lg-3 push-lg-3 col-12 (click)="onclickitem();$event.stopPropagation();" no-lines class="myitem" color="forgotcolor">
  <ion-label item-content>
    <p>{{category.created}} </p>
    {{category.message}}
  </ion-label>
  <img  style="width: 20px; height: 20px;" item-end src="assets/emo/more.png" (click)="onclickEditbutton();$event.stopPropagation();">
</ion-item>
<!-- <ion-item  col-lg-6 pull-lg-3 push-lg-3 col-12 no-lines style="background: transparent;">
<ion-card  (click)="onclickitem(); $event.stopPropagation()">
  <ion-card-header color="forgotcolor">
    <ion-item>
        <ion-avatar item-left>
            <img *ngIf="category.photo != ''" src="{{imageurl}}{{category.photo}}" />
            <img *ngIf="category.photo == ''" src="assets/imgs/icon1.png" />
          </ion-avatar>
        <h2 style="margin-left: 20px;">{{category.firstname}} {{category.lastname}}</h2>
    </ion-item>

  </ion-card-header>

  <ion-card-content color="forgotcolor">
    <p>{{ category.message }}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button
        (click)="onclickEditbutton(); $event.stopPropagation()"
        ion-button
        icon-start
        clear
        small
      >
        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
        <div>Delete</div>
      </button>
    </ion-col>

    <ion-col>
      <button
        (click)="onclicksharebutton(); $event.stopPropagation()"
        ion-button
        icon-start
        clear
        small
      >
        <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>
        <div>share</div>
      </button>
    </ion-col>

    <ion-col>
      <div>
          <ion-note>
            {{ category.updated}}
           </ion-note>
      </div>

    </ion-col>
  </ion-row>
</ion-card>
</ion-item> -->
