
<ion-header  col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>

  <ion-toolbar color="toolbar" text-center>
    <ion-title style="color : white;" >SELECT AS MANY CATEGORIES <br> AS YOU LIKE.</ion-title>
    <ion-buttons right>
      <button (click)="onclickdismissbutton()" ion-button icon-only>
        <ion-icon
          color="light"
          ios="ios-close-circle"
          md="md-close-circle"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar >

</ion-header>


<ion-content padding text-center>
  <ion-list>
    <!-- <ion-list-header col-lg-6 pull-lg-3 push-lg-3  col-12  no-lines>
        <ion-label style="font-weight:bold; font-size:13pt;" color="dark">
          CATEGORIES
        </ion-label>
      </ion-list-header> -->

      <ion-item  *ngFor="let category of category_array; let i = index"   col-lg-6 pull-lg-3 push-lg-3 col-12  no-lines class="myitem" color="forgotcolor">
            <ion-label>{{category.ca_name}}</ion-label>
            <ion-checkbox mode="ios" color="toolbar" [checked]="category.isChecked" (ionChange)="onchangestatus(i)"></ion-checkbox>
       </ion-item>
    </ion-list>

  <button class="mybutton"  ion-button color="toolbar" (click)="onclicksavebutton()" >Save</button>
</ion-content>
