page-selectcategor {
  .myitem{
    margin-top: map-get($map: $custom_margin, $key: margin_10);
    border-radius: map-get($map:$borderradius , $key:radius_10);
    img{
      width:40px;
      height: 40px;
    }
    ion-label{
      font-weight: bold;
      margin-left: map-get($map:$custom_margin, $key: margin_10);
    }
  }

  ion-list{
    margin-top: 10vh;
  }

  .mybutton
  {
      height : 40px;
      position : absolute;
      bottom: 20px;
      left : 10vw;
      right : 10vw;
      width: 80vw;
      color : white;
  }

  ion-title{
    color : white;
  }

}
