page-notification {
  .myitem{
    // margin-top: map-get($map: $custom_margin, $key: margin_10);
    // background-color: transparent;
    border-radius: map-get($map:$borderradius , $key:radius_10);
    ion-label{
      font-weight: bold;
      margin-left: map-get($map:$custom_margin, $key: margin_10);
    }
  }

  .list-md ion-item-options .button {
    vertical-align: middle;
  }
  .list-ios ion-item-options .button{
    vertical-align: middle;
  }

}
