
<ion-header  col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>
  <custombar [title]="'NOTIFICATION'"></custombar>
</ion-header>

<ion-content class="mycontent" padding>


  <ion-list>
    <ion-item-sliding style="background: transparent;" col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding style="margin-top: 10px;" #item *ngFor="let category of notiArray; let i= index;" >

      <ion-item  (click)="onclickitem(i);$event.stopPropagation();" no-lines class="myitem" color="forgotcolor">
        <ion-label col-10 item-left >
          <p>{{category.date}} </p>
          {{category.message}}
        </ion-label>
        <img src="assets/imgs/circle.png" item-right style="margin-right: 20px;" *ngIf="category.is_seen == 0"  color="primary" >
      </ion-item>

      <ion-item-options text-center side="left">
          <button class="mybutton" color="danger" ion-button (click)="onclickdeletebutton(i)">
              <ion-icon color="light" ios="ios-trash" md="md-trash"></ion-icon>
           </button>
      </ion-item-options>

      <ion-item-options  text-center side="right">
        <button class="mybutton" color="danger" ion-button (click)="onclickdeletebutton(i)">
           <ion-icon color="light" ios="ios-trash" md="md-trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
