// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  toolbar : rgb(251,195,46),
  error: rgb(223, 62, 62),
  maingraycolor : rgb(143,143,143),
  textareacolor : rgb(206, 206, 206),
  settingcolor : rgb(239, 239, 239),
  forgotcolor : rgb(255,66,19),
  itemcolor : rgb(255,32,15),
  dismisscolor : rgb(185, 168, 115)

);


$buttoncolors : (
  nextbutton : rgb(251,195,46),
  skipbutton : rgb(251,51,1)
);


$bordercolors : (
  bordercolor:      #d6d6d6,
  maingraycolor : rgb(143,143,143)
);

$borderradius : (
  radius_5 : 5px,
  radius_10 : 10px,
  radius_15 : 15px,
  radius_20 : 20px,
  radius_30 : 30px

);

$fontsizes : (
  font_10 : 10pt,
  font_15 : 15pt,
  font_20 : 20pt,
  font_13 : 13pt,
  font_14 : 14pt
);

$constant_height : (
  height_30 : 30px,
  height_50 : 50px,
  height_40 : 40px,
  height_25 : 25px,
  height_60 : 60px,
  height_90 : 90px,
  height_40vh : 40vh,
  height_30vh : 30vh,
  propic : 100px,
) ;

$custom_padding : (
  padding_10 : 10px
);

$custom_margin : (
  margin_10 : 10px,
  margin_minus_10 : -10px,
  margin_20 : 20px,
  margin_30 : 30px,
  margin_5vh : 5vh,
  margin_1vh : 1vh,
  margin_10vh : 10vh,
  margin_20vh : 20vh,
  margin_30vh : 30vh,
  margin_40vh : 40vh,
  margin_50vh : 50vh,
  margin_60vh : 60vh
);

$custom_borderwidth : (
  border_2 : 2px,
  border_5 : 5px,
  border_10 : 10px,
  border_11 : 11px,
  border_12 : 12px,
  border_13 : 13px,
  border_14 : 14px,
  border_15 : 15px,
  border_16 : 16px,
);

$toolbar-md-title-text-color: #FFF;
$toolbar-ios-title-text-color: #FFF;
$toolbar-wp-title-text-color: #FFF;

$toolbar-ios-title-font-size: 1.2rem;
$toolbar-md-title-font-size: 1.4rem;
$toolbar-wp-title-font-size: 1.1rem;

// $toolbar-ios-height: 80px;
// $toolbar-md-height: 80px;

$margin_left10 : map-get($map: $custom_margin, $key: margin_10);
$custom_borderwidth: map-get($custom_borderwidth, border_2);
$margin-top10vh: map-get($map: $custom_margin, $key: margin_10vh);
$margin-top20vh: map-get($map: $custom_margin, $key: margin_20vh);
$custom_bordercolor : map-get($map: $bordercolors, $key: bordercolor);
$custom_border : 2px soild map-get($map: $colors, $key: textareacolor);

$text-input-highlight-color-valid:transparent;
$text-input-highlight-color-invalid:transparent;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
