
<ion-content class="mycontent" text-center>
  <ion-row>
      <ion-col col-lg-6 col-md-12 col-sm-12 push-lg-3 pull-lg-3>
          <ion-slides  col-12 #slider class="myslide" #slider pager="true">

              <ion-slide text-center>
                <img col-lg-2 col-2 pull-5 push-5 push-lg-5 pull-lg-5 src="assets/imgs/mainicon_shadow.png" />
                <h4 >You want a DREAM LIFE, </h4>
                <h4> but can't seem to break </h4>
                <h4>OLD HABITS.</h4>
                <p>Nudge can help.</p>
                <!-- <button col-lg-4 col-7 col-sm-10 push-lg-4 pull-lg-4 class="btn_skip" ion-button clear full (click)="onclickskipbutton()">SKIP</button> -->
                <button col-lg-4 col-10 pull-1 push-1 push-lg-4 pull-lg-4 class="btn_skip" ion-button clear full (click)="onclickskipbutton()">SKIP</button>
                <button col-lg-4 col-10 pull-1 push-1  push-lg-4 pull-lg-4 class="btn_next" ion-button clear full (click)="onclicknextbutton()">Next</button>
              </ion-slide>

              <ion-slide>
                <img  col-lg-2 col-2 pull-5 push-5 push-lg-5 pull-lg-5 src="assets/imgs/mainicon_shadow.png" />
                <h4>We use the science of neuroplasticity</h4>
                <h4>and the power of habits to gently</h4>
                <h4>change how your mind thinks.Habits</h4>
                <h4> are the cornerstone of what makes</h4>
                <h4> your life. By Changing what you</h4>
                <h4>think about, your mind opens</h4>
                <h4>up to life you want</h4>
                <button col-lg-4 col-10 pull-1 push-1 push-lg-4 pull-lg-4 class="btn_skip" ion-button clear full (click)="onclickskipbutton()">SKIP</button>
                <button col-lg-4 col-10 pull-1 push-1 push-lg-4 pull-lg-4  class="btn_next" ion-button clear full (click)="onclicknextbutton()">Next</button>
              </ion-slide>


              <ion-slide>
                <img col-lg-2 col-2 pull-5 push-5 push-lg-5 pull-lg-5 src="assets/imgs/mainicon_shadow.png" />
                <h4>You can even write your own </h4>
                <h4>personal messages , and help</h4>
                <h4>change the lives of others</h4>
                <button col-lg-4 col-10 pull-1 push-1 push-lg-4 pull-lg-4  class="btn_next" ion-button clear full (click)="onclickskipbutton()">Done</button>
              </ion-slide>

            </ion-slides>
      </ion-col>
  </ion-row>
</ion-content>
<ion-footer></ion-footer>