page-walkthrough {
    .mycontent
    {
        margin-top: 0 !important;
        .myslide {
            position: relative;
            width: 100vw;
            height: 100vh;
              .hide {
                  // display: none; // override "display: none"
              }
              .swiper-pagination-bullet {
                  background-color: map-get($map: $buttoncolors, $key:skipbutton );
                  // box-shadow: 0px 0px 2px #000000;
              }
      
              ion-slide {
                width: 100%;
                height: 100%;
      
                .slide-zoom
                {
                  margin-bottom: 15vh;
                }
      
                  p, h4{
                    margin: 0 auto;
                    text-align: center;
                    font-weight: bold;
                    font-size: 14pt;
                    word-break: break-word;
                    word-spacing: normal;
                    text-shadow: 0.5px 5px 10px #797878;
                  }
      
                  h4{
                    margin-top: 10px;
                  }
      
                  p{
                    margin-top: 20px;
                  }
      
                  img {
                      width: 230px;
                      height: 150px;
                      background-size: cover;
                  }
      
                  .btn_skip {
                      position: absolute;
                      bottom: 8vh;
                      height: 40px;
                      // font-weight: bold;
                      font-size: map-get($map: $fontsizes, $key: font_13s);
                      color: map-get($map: $buttoncolors, $key:skipbutton);
                  }
                  .btn_next {
                      position: absolute;
                      bottom: 13vh;
                      height: 40px;
                      border-radius: 10px;
                      // font-weight: bold;
                      font-size: map-get($map: $fontsizes, $key: font_13);
                      background-color: map-get($map: $buttoncolors, $key:nextbutton);
                      color: map-get($map: $colors, $key:light);
                  }
                  .btn_ok {
                      position: absolute;
                      bottom: 30px;
                      height: 40px;
                      left: 25vw;
                      right: 25vw;
                      // font-weight: bold;
                      color: white;
                  }
              }
          }
    }
   
}
