<ion-content text-center class="mycontent" text-center>
    <ion-row>
      <ion-col col-lg-6 push-lg-3 pull-lg-3 col-12>
        <img col-8 push-2 pull-2 col-lg-4 push-lg-4 pull-lg-4 class="login_logo" src="assets/imgs/mainicon_shadow.png" />

        <ion-item push-lg-3 col-10 push-1 pull-1 col-lg-6 pull-lg-3 text-center no-lines>
          <ion-label
            ><ion-icon color="maingraycolor" name="md-mail"></ion-icon
          ></ion-label>
          <ion-input
            [(ngModel)]="userinfo.email"
            placeholder="Email"
            type="text"
          ></ion-input>
        </ion-item>

        <ion-item push-lg-3 col-10 push-1 pull-1 col-lg-6 pull-lg-3 text-center no-lines>
          <ion-label
            ><ion-icon color="maingraycolor" name="md-lock"></ion-icon
          ></ion-label>
          <ion-input
            [(ngModel)]="userinfo.password"
            placeholder="Password"
            type="password"
          ></ion-input>
        </ion-item>

        <button

          (click)="onclickforgotpass()"
          ion-button
          clear
          color="forgotcolor"
        >
          Forgot Password?
        </button>

        <ion-item push-lg-3 col-10 push-1 pull-1 col-lg-6 pull-lg-3 text-center no-lines>
          <button (click)="onclickLoginButton()" ion-button color="toolbar">
            LOG IN
          </button>
        </ion-item>

        <ion-item push-lg-3 col-10 push-1 pull-1 col-lg-6 pull-lg-3 text-center no-lines>
          <button (click)="onclicksignupbutton()" ion-button color="toolbar">
            Sign Up
          </button>
        </ion-item>

        <ion-item push-lg-3 col-10 push-1 pull-1 col-lg-6 pull-lg-3 text-center no-lines>
          <img src="assets/imgs/facebook.png" (tap)="onclickFacebookButton()" />
          <img src="assets/imgs/google.png" (tap)="onclickGoogleButton()" />
          <!-- <img src="assets/imgs/instagram.png" (tap)="onclickInstagramButton()"/> -->
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-content>
