page-signin {
  .mycontent {
      margin-top: 0 !important;
      .login_logo {
          margin-top: map-get($map: $custom_margin, $key:margin_5vh);
      }
      ion-item {
          // margin-left: 25%;
          // margin-right: 25%;
          // width: 50%;
          height: map-get($map: $constant_height, $key: height_60);
      }
      ion-item:first-of-type {
          border-top-left-radius: map-get($map: $borderradius, $key: radius_10);
          border-top-right-radius: map-get($map: $borderradius, $key: radius_10);
          border: 1px solid map-get($map: $bordercolors, $key:maingraycolor);
          margin-top: map-get($map: $custom_margin, $key: margin_5vh);
      }
      ion-item:nth-of-type(2) {
          border-bottom-left-radius: map-get($map: $borderradius, $key: radius_10);
          border-bottom-right-radius: map-get($map: $borderradius, $key: radius_10);
          border: 1px solid map-get($map: $bordercolors, $key:maingraycolor);
      }
      ion-item:nth-of-type(3),
      ion-item:nth-of-type(4) {
          background: transparent;
          margin-top: map-get($map: $custom_margin, $key: margin_10);
          button {
              width: 100%;
              height: map-get($map: $constant_height, $key: height_50);
              color: white;
              font-size: map-get($map: $fontsizes, $key: font_13);
              border-radius: map-get($map: $borderradius, $key: radius_10);
          }
      }
      ion-item:nth-of-type(4) {
          margin-top: map-get($map: $custom_margin, $key: margin_10);
      }
      ion-item:nth-of-type(5) {
          // margin-left: 8vw;
          // margin-right: 10vw;
          // width: 90vw;
          margin-top: map-get($map: $custom_margin, $key: margin_10);
          height: map-get($map: $constant_height, $key: height_90);
          background: transparent;
          float: left;
          img {
              width: 70px;
              height: 70px;
          }
          img:first-of-type {
              margin-left: map-get($map: $custom_margin, $key: margin_minus_10);
          }
          img:last-of-type {
              margin-right: map-get($map: $custom_margin, $key: margin_minus_10);
          }
      }
  }
}
