// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.mycontent {
    background: url('../assets/imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}




body{
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

ion-header {
    // background: url('../assets/imgs/background.png');
    background-color: rgb(251,195,46);
    // padding-top: constant(safe-area-inset-top); //for iOS 11.2
    // padding-top: env(safe-area-inset-top); //for iOS 11.1
}

ion-toolbar {
    background-color: rgb(251,195,46);
    margin-top: constant(safe-area-inset-top); //for iOS 11.2
    margin-top: env(safe-area-inset-top); //for iOS 11.1
}

ion-footer {
    // background: url('../assets/imgs/background.png');
    margin-bottom: constant(safe-area-inset-bottom);
    margin-bottom: env(safe-area-inset-bottom);
}

item-md.item-block .item-inner,
.item-md.item-input.input-has-focus .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.list-md .item-input.input-has-focus:last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom: none;
    box-shadow: none;
}

.list-md .item-input.input-has-focus:last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner,
.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child .item-inner {
    box-shadow: none;
}

.input-cover {
    position: static;
}

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    /*margin: 0;*/
    margin-bottom: 10px;
}

.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    text-align: left;
    /*border-color: #e2e2e2;*/
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #104e89;
}

.platform-android .action-sheet .button.destructive {
    color: red;
}

.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

.tabs-md .tab-button[aria-selected=true] {
    color: map-get($map: $colors, $key: toolbar);
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: map-get($map: $colors, $key:toolbar);
}

.tabs-ios .tab-button[aria-selected=true] {
    color: map-get($map: $colors, $key: toolbar);
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: map-get($map: $colors, $key:toolbar);
}

ion-modal.inset-modal {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: opacity 0.25s ease-in-out;
}

ion-modal.inset-modal-match {
    background-color: rgba(0, 0, 0, 0.5) !important;
    transition: opacity 0.25s ease-in-out;
}


$custom_border: 1px soild map-get($map: $colors,
$key: textareacolor);

ion-loading.custom_loading {
  .loading-wrapper {
      color:rgb(251,195,46);
    // background: ;
    // box-shadow: none;
  }
}
