<!-- <ion-header> -->
  <ion-toolbar style="margin-top : 0 !important;" color="toolbar" text-center>
    <ion-buttons right>
      <button (click)="onclickdismissbutton()" ion-button icon-only>
        <ion-icon
          color="light"
          ios="ios-close-circle"
          md="md-close-circle"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

<!-- </ion-header> -->

  
  <ion-content >

    <p style="margin-top: 55px" text-center> NUDGE will start sending you life changing messages soon.</p>
    <p text-center> Remember to do what is says, or at least  FEEL what it will feel like.</p>
    <p text-center> Pick as many categories as you like.</p>

    <button
      class="mybutton"
      full
      (click)="onclickstarted()"
      color="toolbar"
      ion-button
    >
    Get Started  &nbsp; >
    </button>
  </ion-content>
