page-getstarted {
  border-radius: 10px;
  p{
    padding-left: map-get($map: $custom_padding , $key: padding_10);
    padding-right: map-get($map: $custom_padding , $key: padding_10);
    // padding-top: map-get($map: $custom_margin, $key:margin_10);
    font-weight: bold;
    color: map-get($map: $colors, $key:dark);
    font-size:map-get($fontsizes , font_13);
    word-wrap: normal;
    white-space: normal;
  }

  .mybutton{
    background: transparent;
    position: absolute;
    border-top: 1px solid map-get($map: $colors, $key: toolbar);
    color: map-get($map: $colors, $key: toolbar);
    font-size:map-get($fontsizes , font_14);
    font-weight: bold;
    width: 100%;
    bottom: 0;
    height: 7vh;
    margin: 0 !important;
  }


}
