page-customnotificationdialog {
    ion-toolbar{
        margin-top: 0 !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .mycontent{
        background: url('../assets/imgs/background1.png');
        background-repeat: no-repeat;
        background-size: contain;

        ion-label{
            margin-top: map-get($map: $custom_margin, $key: margin_30);
            font-weight: bold;
            font-size: map-get($map: $fontsizes, $key: font_10);
            white-space: normal;
            color: white;
        }

        .checkbox-ios-light .checkbox-checked .checkbox-inner{
            border-color: map-get($map: $colors, $key: toolbar);
          }
          .checkbox-md-light .checkbox-checked .checkbox-inner{
            border-color: map-get($map: $colors, $key: toolbar);
          }
    }
}
