
    <ion-header>
    <ion-toolbar color="toolbar" text-center>
      <ion-buttons right>
        <button (click)="onclickdismissbutton()" ion-button icon-only>
          <ion-icon
            color="maingraycolor"
            ios="ios-close-circle"
            md="md-close-circle"
          ></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content class="mycontent">

    <ion-label text-center> {{message}}</ion-label>

  </ion-content>
