<ion-header col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>
  <custombar
    [type]="isBack"
    [title]="pass_category"
    (clickback)="onclickbackbutton()"></custombar>
</ion-header>

<ion-content class="mycontent" padding>
  <ion-list>
        <categoryitem
          *ngFor="let category of customcategoryArray; let i = index"
          [index]="i"
          [category]="category"
          (clickEdit)="onClickEditOperation($event);"
          (clickItem)="onclickItem($event);"
          (clicklike)="onclicklikebutton($event);"></categoryitem>
  </ion-list>

  <ion-fab (click)="onclickFabButton()" *ngIf="!isEditable" bottom right>
    <button color="toolbar" ion-fab>
      <ion-icon color="light" style="font-size:15pt;" name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
