<!-- <ion-header> -->
<ion-toolbar color="toolbar" text-center>
    <ion-title style="padding : 0;">
       <ion-label color="light" style="font-size : 14pt;">{{title}}  
            <ion-icon style="margin-top : 10px;" color="light" ios="ios-happy" md="md-happy"></ion-icon> 
        </ion-label>
    </ion-title>

    <ion-buttons text-center right>
        <button (click)="onclickeditbutton()" ion-button icon-only>
            <ion-icon color="light" ios="ios-create" md="md-create"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>
<!-- </ion-header> -->
