<ion-item col-lg-6 pull-lg-3 push-lg-3 col-12 no-lines  (click)="onclickitem();$event.stopPropagation();" no-lines class="myitem" color="forgotcolor">
  <ion-label item-content>
    <p>{{category.created}} </p>
    {{category.message}}
  </ion-label>
  <img  style="width: 20px; height: 20px;" item-end src="assets/emo/more.png" (click)="onclickEditbutton();$event.stopPropagation();">
</ion-item>

<!-- <ion-item  col-lg-6 pull-lg-3 push-lg-3 col-12 no-lines style="background: transparent;">
<ion-card (click)="onclickitem();$event.stopPropagation();">
  <ion-card-header color="forgotcolor">
        <ion-avatar item-left>
          <img  *ngIf="category.photo == ''"  src="assets/imgs/icon1.png">
          <img  *ngIf="category.photo != ''"  src="{{image_url}}{{category.photo}}">
        </ion-avatar>
        <div style="margin-left: 10px;" item-right>
            <h2>{{category.firstname}} {{category.lastname}}</h2>
        </div>
  </ion-card-header>

  <ion-card-content color="forgotcolor">
    <p>
        {{category.message}}
    </p>

  </ion-card-content>

  <ion-row>
      <ion-col>
          <button (click)="onclickEditbutton();$event.stopPropagation();" ion-button icon-start clear small>
            <ion-icon ios="ios-brush" md="md-brush"></ion-icon>
            <div>edit</div>
          </button>
        </ion-col>

      <ion-col>
        <button (click)="onclicklikebutton();$event.stopPropagation();" ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>favorite</div>
        </button>
      </ion-col>
      <ion-col>
        <button (click)="onclicksharebutton();$event.stopPropagation();" ion-button icon-start clear small>
          <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>
          <div>share</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
            {{category.date}}
        </ion-note>
      </ion-col>
    </ion-row>

</ion-card>
</ion-item> -->
