categoryitem {
  .myitem{
    margin-top: map-get($map: $custom_margin, $key: margin_10);
    border-radius: map-get($map:$borderradius , $key:radius_5);
    ion-label{
      font-weight: bold;
      margin-left: map-get($map:$custom_margin, $key: margin_10);
      // white-space: normal;
    }
  }

  ion-avatar{
    float: left;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-size: 40px 40px;

    img{
      width: 40px;
      height: 40px;
    }
  }
}
