
<ion-toolbar hideBackButton  color="toolbar" text-center>
  <ion-buttons left *ngIf="type" >
    <button (click)="onclickbackbutton()" ion-button icon-only>
        <ion-icon color="light" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </button>
  </ion-buttons>

  <ion-buttons right *ngIf="rightType" >
      <button (click)="onclickbackbutton()" ion-button icon-only>
          <ion-icon color="light" ios="ios-close-circle" md="md-close-circle"></ion-icon>
      </button>
  </ion-buttons>

  <ion-title text-center style="padding : 0 !important;">
     <label text-center style="color: white; font-size: 13pt; max-width : 100%; "color="light">
      {{title}}
     </label>
     <br>
     <label text-center *ngIf="subtitle"   style="margin-top: 0 !important; color: white; font-size: 9pt;"color="light">
      {{subtitle}}
     </label>
  </ion-title>
</ion-toolbar>

