page-notificationsetting {

    $margin_top : map-get($map: $custom_margin, $key: margin_10);
    $margin_top30 : map-get($map: $custom_margin, $key: margin_30);
    $back_color : map-get($map: $colors, $key:forgotcolor);
    $radius : map-get($map: $borderradius, $key: radius_10);
    $font_size13 : map-get($map: $fontsizes, $key: font_13);

    .mycontent{
        ion-item{
            border-radius: map-get($map: $borderradius, $key: radius_10);
            height: map-get($map: $constant_height, $key: height_60);
            margin-top: $margin_top;
            background: $back_color;
        }

        ion-select{
            background: map-get($map: $colors, $key: light);
            border-radius: map-get($map: $borderradius, $key: radius_10);
            padding-left: 20px;
            max-width: 100% !important;
            width: 100%;
            color: black;
        }

        ion-label{
            text-align: left;
            font-weight: bold;
        }

        button{
            margin-top: $margin_top30;
            border-radius: $radius;
            color: white;
            font-weight: bold;
            font-size: $font_size13;
        }
    }
}   
