<ion-header col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>
    <custombar
      [title]="'SET NOTIFICATIONS'"
      [type]="isback"
      (clickback)="onclickBackbutton()"
    ></custombar>
  </ion-header>


<ion-content text-center class="mycontent" padding>
    <ion-list no-lines>
      <ion-item style="background:transparent;" col-lg-6 pull-lg-3 push-lg-3  col-12 >
          <ion-label color="dark">SELECT MESSAGE ALERT</ion-label>
      </ion-item>

      <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12>

        <img item-start src="assets/imgs/circle.png"/>

        <ion-select placeholder="SELECT TONE" item-end [(ngModel)]="val_tone" (ionChange)="onchangetone($event)" >
          <ion-option value="notone" >NO TONE</ion-option>
          <ion-option value="tone1" >TONE1</ion-option>
          <ion-option value="tone2" >TONE2</ion-option>
          <ion-option value="tone3" >TONE3</ion-option>
        </ion-select>

      </ion-item>

      <ion-item (click)="onclickvibration()"  col-lg-6 pull-lg-3 push-lg-3  col-12>
        <img *ngIf="isvibrate"  item-start item-start src="assets/imgs/circle.png"/>
        <img *ngIf="!isvibrate"  item-start item-start src="assets/imgs/circle_offline.png"/>
        <ion-label color="light" item-end>VIBRATION</ion-label>
      </ion-item>

      <ion-item style="background:transparent;" col-lg-6 pull-lg-3 push-lg-3  col-12 >
        <ion-label color="dark">MESSAGE FREQUENCY</ion-label>
      </ion-item>

      <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12 *ngFor="let myitem of frequency_array; let i = index;" >
        <ion-label col-4 color="light" item-start>{{myitem['category']}}</ion-label>
        <ion-select   placeholder="SELECT A WEIGHT"   (ionChange)="onchangeselectlight($event, i)" [(ngModel)]="myitem.style" item-end  required>
          <ion-option *ngFor="let item of weight_array"  value="{{item.id}}" >{{item['name']}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item style="background:transparent;" col-lg-6 pull-lg-3 push-lg-3  col-12 >
        <ion-label color="dark">SET SLEEP HOURS</ion-label>
      </ion-item>

      <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12>
          <img  item-start item-start src="assets/imgs/time.png"/>
        <ion-select placeholder="SET HOURS"   [(ngModel)]="val_sleephour" required>
          <ion-option value="SUN">10PM to 6AM</ion-option>
        </ion-select>
      </ion-item>

    </ion-list>

    <button (click)="oncilckdonebutton()" col-6 ion-button color="toolbar">Done</button>
</ion-content>
