page-customimagedialog {
  ion-toolbar{
    margin-top: 0 !important;
}
  ion-item{
    background: transparent;
    margin : 0;
    height: 100px;
    img{
      // margin-top: map-get($map: $custom_margin, $key:margin_10);
      width: 80px;
      height: 80px;
    }
  }
  ion-label{
    padding-left: map-get($map: $custom_padding , $key: padding_10);
    padding-right: map-get($map: $custom_padding , $key: padding_10);
    // padding-top: map-get($map: $custom_margin, $key:margin_10);
    font-weight: bold;
    color: map-get($map: $colors, $key:dark);
    font-size:map-get($fontsizes , font_13);
    height: 12vh;
    word-wrap: normal;
    white-space: normal;
  }

  .mybutton{
    background: transparent;
    position: absolute;
    border-top: 1px solid map-get($map: $colors, $key: toolbar);
    color: map-get($map: $colors, $key: toolbar);
    font-size:map-get($fontsizes , font_14);
    font-weight: bold;
    width: 100%;
    bottom: 0;
    height: 7vh;
    margin: 0 !important;
  }

}
