
  <!-- <ion-header> -->
  <ion-toolbar color="toolbar" text-center>
    <ion-buttons right>
      <button (click)="onclickdismissbutton()" ion-button icon-only>
        <ion-icon
          color="light"
          ios="ios-close-circle"
          md="md-close-circle"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
<!-- </ion-header> -->
<ion-content style="margin-top : 40px;" >
  <ion-item text-center no-lines>
    <img src="assets/imgs/icon1.png" />
  </ion-item>

  <ion-label text-center> Is this you? If not please upload photo. </ion-label>

  <button
    class="mybutton"
    full
    (click)="onclickuploadbutton()"
    color="toolbar"
    ion-button
  >
   Upload Photo &nbsp; >
  </button>
</ion-content>
