page-setting {
  .mycontent{
    background: map-get($map:$colors, $key: settingcolor);
    ion-item{
      background: map-get($map: $colors, $key:textareacolor);
      height: map-get($map:$constant_height , $key:height_60);
      margin-top: map-get($map: $custom_margin, $key: margin_10);

      border-radius: 10px;
      border-width: $custom_borderwidth;
      border-style: solid;
      border-color: $custom_bordercolor ;
    }
  }
}

