
<ion-header  col-lg-6 pull-lg-3 push-lg-3  col-12 no-border no-padding>
    <custombar [title]="'SETTINGS'"></custombar>
</ion-header>



<ion-content padding class="mycontent">
  <ion-list>
    <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12 (click)="onclickuserprofile()" no-lines>
        <ion-icon  color="maingraycolor" name="person" item-start></ion-icon>
        <ion-label>USER PROFILE</ion-label>
    </ion-item>

    <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12 (click)="onclickcategory()" no-lines>
        <ion-icon  color="maingraycolor" name="happy" item-start></ion-icon>
        <ion-label>SELECT CATEGORY</ion-label>
    </ion-item>

    <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12 (click)="onclicknotification()" no-lines>
        <ion-icon color="maingraycolor" name="notifications" item-start></ion-icon>
        <ion-label>NOTIFICATION SETTINGS</ion-label>
    </ion-item>
    <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12 (click)="onclicksharebutton()" no-lines>
        <ion-icon color="maingraycolor" name="share-alt" item-start></ion-icon>
        <ion-label>SHARE THE APP</ion-label>
    </ion-item>
    <ion-item col-lg-6 pull-lg-3 push-lg-3  col-12 no-lines>
        <ion-icon color="maingraycolor" name="logo-buffer" item-start></ion-icon>
        <ion-label>ABOUT THE APP</ion-label>
    </ion-item>
    <ion-item (click)="onclickrateapp()" col-lg-6 pull-lg-3 push-lg-3  col-12 no-lines>
        <ion-icon  color="maingraycolor" item-start ios="ios-star" md="md-star"></ion-icon>
        <ion-label>RATE APP</ion-label>
    </ion-item>
    <ion-item  col-lg-6 pull-lg-3 push-lg-3  col-12 (click)="onclickFeedback()" no-lines>
        <ion-icon  color="maingraycolor" item-start ios="ios-mail" md="md-mail"></ion-icon>
        <ion-label>SEND FEEDBACK</ion-label>
    </ion-item>
    <ion-item (click)="onclicksecurity()" col-lg-6 pull-lg-3 push-lg-3  col-12 no-lines>
        <ion-icon color="maingraycolor" item-start ios="ios-lock" md="md-lock"></ion-icon>
        <ion-label>SECURITY SETTINGS</ion-label>
    </ion-item>
    <ion-item  col-lg-6 pull-lg-3 push-lg-3  col-12 (click)="onclicksignout()" no-lines>
        <ion-icon color="maingraycolor" item-start ios="ios-log-out" md="md-log-out"></ion-icon>
        <ion-label>SIGN OUT</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
