
<ion-header  no-padding col-lg-6 pull-lg-3 push-lg-3 col-12 no-border>
  <custombar  *ngIf="fromPage == ''"  [title]="'WELCOME!'" [subtitle]="'Sign Up - Step1'"></custombar>
  <custombar   *ngIf="fromPage != ''"  [title]="'WELCOME!'"  [subtitle]="'Sign Up - Step1'" (clickback)="onclickBackbutton()"></custombar>
</ion-header>

<ion-content  class="mycontent" style="background-repeat: no-repeat; background-size: cover;" padding text-center>

  <form  class="form" [formGroup]="validations_form" (ngSubmit)="onclicknextbutton()" >
    <ion-item  col-lg-4   col-12 class="myinput" no-lines text-center>
      <ion-label> <ion-icon color="dark" name="md-mail"></ion-icon></ion-label>
      <ion-input color="dark" [(ngModel)]="useremail" formControlName="email" placeholder="Enter your email" clearInput type="text"></ion-input>
    </ion-item>


    <ion-item  col-lg-4 push-lg-4 pull-lg-4   col-12 style="margin-left:15px; margin-top: 10px; background:transparent;"  no-lines>
      <ion-label  style="font-style:italic; margin-left: 10px;" color="dark">Valid email</ion-label>
      <ion-checkbox *ngIf="validations_form.get('email').hasError('required') || validations_form.get('email').hasError('pattern') && (validations_form.get('email').dirty || validations_form.get('email').touched)"  mode="ios" color="forgotcolor" [checked]="true" ></ion-checkbox>
      <ion-checkbox *ngIf="!validations_form.get('email').hasError('required') && !validations_form.get('email').hasError('pattern')"  mode="ios" color="primary" [checked]="true" ></ion-checkbox>
    </ion-item>


    <ion-item  col-lg-4 push-lg-4 pull-lg-4   col-12 style="margin-left:15px; background:transparent;" no-lines>
      <ion-label style="font-style:italic; margin-left: 10px;" color="dark">Not in use</ion-label>
      <ion-checkbox *ngIf="is_notuser"  mode="ios" icon-only color="primary" [checked]="true" ></ion-checkbox>
      <ion-checkbox *ngIf="!is_notuser" mode="ios" icon-only color="forgotcolor" [checked]="true" ></ion-checkbox>
    </ion-item>


    <ion-item col-lg-4 push-lg-4 pull-lg-4  col-10 pull-1 push-1   class="myitem_next" clear no-lines>
      <button col-lg-10 pull-lg-1 push-lg-1 col-10 pull-1 push-1 type="submit" [disabled]="!validations_form.valid" class="btn_next" ion-button clear full >Next</button>
    </ion-item>
  </form>

  <ion-item col-lg-4 push-lg-4 pull-lg-4  col-10 pull-1 push-1 text-center (click)="gotoLoginPage()" class="myitem_signin" text-center clear no-lines>
    <p>Already have an account?</p>
    <p>Click here to Sign In</p>
  </ion-item>

</ion-content>
