page-signup-first {
    .mycontent {
        background: url('../assets/imgs/background.png');
        .myinput{
            border-radius : map-get($map: $borderradius, $key: radius_10);
            border: 1px solid map-get($map: $colors, $key: textareacolor);
            margin-top: $margin-top10vh;
            display:inline-flex;
        }

        .myitem_next {
          background: transparent;
          position: absolute;
          bottom: 20vh;
          height: 70px;
            .btn_next {
                width: 70vw;
                height: 40px;
                border-radius: 10px;
                // font-weight: bold;
                font-size: map-get($map: $fontsizes, $key: font_13);
                background-color: map-get($map: $buttoncolors, $key:nextbutton);
                color: map-get($map: $colors, $key:light);
            }
        }
        .myitem_signin {
            background: transparent;
            position: absolute;
            bottom: 10vh;
            height: 50px;
            p {
                color: map-get($map: $buttoncolors, $key:skipbutton);
            }
        }
    }
}
