<ion-tabs color="dark">
    <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="" tabIcon="notifications"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="" tabIcon="star"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="" tabIcon="settings"></ion-tab>
</ion-tabs>
