page-customsharedialog {
    
    ion-toolbar{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin-top: 0 !important;
    }
    .maincontent {        
        background: url('../assets/imgs/favorite_back.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
        ion-item {
            background: transparent;
            margin: 0;
            height: 100px;
            img {
                // margin-top: map-get($map: $custom_margin, $key:margin_10);
                width: 100%;
                height: 80%;
            }
        }

        ion-item:first-of-type{
          margin-top: $margin-top20vh;
          height: 100%;
        }

        ion-label {
            padding-left: map-get($map: $custom_padding, $key: padding_10);
            padding-right: map-get($map: $custom_padding, $key: padding_10); // padding-top: map-get($map: $custom_margin, $key:margin_10);
            font-weight: bold;
            white-space: normal;
            color: map-get($map: $colors, $key:dark);
            font-size: map-get($fontsizes, font_13);
            color: white;
            height: 80%;
        }
      
        .mybutton {
            background: white;
            position: absolute;
            border-top: 1px solid map-get($map: $colors, $key: toolbar);
            color: map-get($map: $colors, $key: toolbar);
            font-size: map-get($fontsizes, font_14);
            font-weight: bold;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 5vh;
            bottom: 0;
            margin: 0 !important;

        }
    }

}
