

  <ion-toolbar color="toolbar" text-center>
    <!-- <ion-buttons left>
      <button (click)="onclickRefreshbutton()" ion-button icon-only>
        <ion-icon
          color="light"
          ios="ios-refresh-circle"
          md="md-refresh-circle"
        ></ion-icon>
      </button>
    </ion-buttons> -->



    <ion-buttons right>
      <button (click)="onclickdismissbutton()" ion-button icon-only>
        <ion-icon
          color="dismisscolor"
          ios="ios-close-circle"
          md="md-close-circle"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


<ion-content text-center class="maincontent">
  <ion-item text-center no-lines>
    <ion-label color="light" text-center>
      {{category.message}}
    </ion-label>
  </ion-item>
  
  <button
  class="mybutton"
  full
  (click)="presentActionSheet()"
  ion-button
>
  Share&nbsp; <ion-icon ios="ios-share" md="md-share"></ion-icon>
</button>

</ion-content>

