mainitem {
  .myitem{
    margin-top: map-get($map: $custom_margin, $key: margin_10);
    border-radius: map-get($map:$borderradius , $key:radius_10);
    img{
      width:40px;
      height: 40px;
    }
    ion-label{
      font-weight: bold;
      margin-left: map-get($map:$custom_margin, $key: margin_10);
    }
  }
}
