<ion-item  ion-long-press  col-lg-6 pull-lg-3 push-lg-3 col-12 (click)="onclickItem(); $event.stopPropagation();" no-lines class="myitem" color="forgotcolor">
   <!-- <img *ngIf="!isEdit"  item-start src="assets/emo/{{category.ca_icon}}"> -->
   <img *ngIf="!isEdit"  item-start src="assets/emo/smile.png">
   <ion-label item-content>{{category.ca_name}}</ion-label>
   <img *ngIf="isEdit" style="width: 20px; height: 20px;" item-end src="assets/emo/more.png" (click)="onclickEditbutton(); $event.stopPropagation();">
</ion-item>
