page-popover {
  .item {
    font-weight: 400;
    color: map_get($colors, dark);
    font-size: map_get($fontsizes, font_13);
    ion-icon {
      font-size: map_get($fontsizes, font_13);
    }
  }
}
