<ion-list no-margin>
    <button  *ngIf="!isRemoveOnly" ion-item no-lines (click)="onclickeditbutton()">
      <ion-icon name="md-create" item-start></ion-icon>
      Edit
    </button>
    <button ion-item no-lines (click)="onclickdeletebutton()">
      <ion-icon name="md-trash" item-start></ion-icon>
      Delete
    </button>
  </ion-list>
